<% provide :title, t("subject.all") %>
<h1><%= t "subject.all" %></h1><br>
<div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
    data-target="#myModal">
    <%= t "subject.submit" %>
  </button>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title"><%= t "subject.submit" %></h4>
        </div>
        <div class="modal-body">
          <%= render "subject_form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%= t :close %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <%= form_tag admin_subjects_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t(:search), name: "find" %>
    </p>
  <% end %>
</div>
<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "subject.id "%></th>
      <th><%= t "subject.name" %></th>
      <th><%= t "subject.duration" %></th>
      <th><%= t "subject.description" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= link_to subject.name, admin_subject_path(subject) %></td>
        <td><%= subject.duration %></td>
        <td><%= subject.description %></td>
        <td>
          <%= link_to t("delete.content"), [:admin, subject],
            method: :delete, data: {confirm: t("delete.confirm")},
            class: "btn btn-danger btn-xs glyphicon glyphicon-remove" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
