<% provide :title, @subject.name %>
<div class="row">
  <aside class="col-md-4">
    <h1 class="text"><%= @subject.name %></h1>
    <div class="notice notice-info">
      <h2><li><%= t "subject.duration" %><%= @subject.duration %></li></h2>
      <h2><li><%= @subject.description %></li></h2>
    </div><br />
    <div class="center"><%= link_to t("question.add"), new_admin_question_path,
      class: "btn btn-lg btn-primary" %></div>
  </aside>
  <div class="col-md-8">
    <h3 class="center"><%= t "question.title" %></h3>
    <table class="table sortable table-bordered">
      <thead>
        <tr>
          <th><%= t "question.content" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.content %></td>
            <td>
              <%= link_to t("delete.content"), [:admin, question],
              method: :delete, data: {confirm: t("delete.confirm")},
              class: "btn btn-danger btn-xs glyphicon glyphicon-remove" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @questions %>
  </div>
</div>
