<% provide :title, t("header.logo") %>
<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#exam"><%= t "exam.content" %></a></li>
  <li><a data-toggle="tab" href="#suggest_question">
    <%= t "suggest_question.title" %></a></li>
</ul>

<div class="tab-content">
  <div id="exam" class="tab-pane fade">
    <table class="table">
      <thead>
        <tr>
          <th><%= t "exam.subject" %></th>
          <th><%= t "exam.duration" %></th>
          <th><%= t "exam.spent_time" %></th>
          <th><%= t "exam.score" %></th>
          <th><%= t "exam.date" %></th>
        </tr>
      </thead>
      <tbody>
        <% @exams.each do |exam| %>
          <tr>
            <td><%= link_to exam.subject.name, exam %></td>
            <td><%= exam.status %></td>
            <td><%= Settings.duration %></td>
            <td><%= exam.spent_time %></td>
            <td><%= exam.score %></td>
            <td><%= exam.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="suggest_question" class="tab-pane fade">
    <table class="table">
      <thead>
        <tr>
          <th><%= t "suggest_question.subject" %></th>
          <th><%= t "suggest_question.content" %></th>
          <th><%= t "suggest_question.status" %></th>
          <th><%= t "suggest_question.date" %></th>
        </tr>
      </thead>
      <tbody>
        <% @suggest_questions.each do |suggest_question| %>
          <tr>
            <td><%= suggest_question.subject.name %></td>
            <td><%= link_to truncate(suggest_question.content,
              length: Settings.length), suggest_question_path(suggest_question) %>
            </td>
            <td><%= suggest_question.status %></td>
            <td><%= suggest_question.created_at %></td>
          </tr>
        <% end %>
      </tbody>
  </div>
</div>
