<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= @exam.subject.name %>
    <%= form_for [:admin, @exam] do |f| %>
      <ol>
        <%= f.fields_for :choices do |builder| %>
          <%= render "choice", f: builder %>
        <% end %>
        <% if @exam.unchecked? %>
          <%= f.submit t("exam.submit_button"), name: "submit",
            class: "btn btn-danger" %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
