<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for [:admin, @question] do |f| %>
      <%= render "shared/error_messages", object: @question %>

      <%= render "question_fields", f: f %>
      <div class="row">
        <div class="col-md-6">
          <%= link_to t("suggest_question.delete"),
            admin_question_path(@question), method: :delete,
            data: {confirm: t("delete.confirm")},
            class: "btn btn-danger" %>
        </div>
        <div class="col-md-6">
          <%= f.submit t("edit.submit"), class: "btn btn-primary",
            id: "question-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
