<%= form_tag admin_suggest_questions_path, method: :get do %>
  <p>
    <%= hidden_field_tag :class_name, @class_name %>
    <%= select_tag :subject_id, options_for_select(@subjects_select) %>
    <%= select_tag :status, options_for_select(@status_select) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t(:search), name: "find" %>
  </p>
<% end %>
<div class="mygrid-wrapper-div ">
  <table class="table sortable table-striped table-condensed">
    <thead>
      <tr>
        <th><%= t "suggest_question.subject" %></th>
        <th><%= t "suggest_question.content" %></th>
        <th><%= t "suggest_question.status" %></th>
        <th><%= t "suggest_question.date" %></th>
      </tr>
    </thead>
    <tbody>
      <% @suggest_questions.each do |suggest_question| %>
        <tr>
          <td><%= suggest_question.subject.name %></td>
          <td><%= link_to truncate(suggest_question.content,
            length: Settings.length),
            admin_suggest_question_path(suggest_question) %>
          </td>
          <td><%= suggest_question.status %></td>
          <td><%= suggest_question.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
