<div class="row center">
    <h1><%= @suggest_question.subject.name %></h1><br>
    <h4><%= @suggest_question.content %></h4><br>
    <% @suggest_question.answers.each do |answer| %>
      <div class="row center">
        <label>
          <div class="col-md-2"><%= radio_button_tag answer.content, answer.id,
            answer.is_correct?, disabled: true %></div>
          <div class="col-md-10"><%= answer.content %></div>
        </label>
      </div><br>
    <% end %>
    <div>
    <% if @suggest_question.unapproved? %>
      <%= link_to t("suggest_question.approve"),
        {status: "approved"}, method: :put, class: "btn btn-success" %>
      <%= link_to t("suggest_question.reject"),
        {status: "rejected"}, method: :put, class: "btn btn-default" %>
    <% end %>
    <%= link_to t("suggest_question.delete"),
      admin_suggest_question_path(@suggest_question),
      method: :delete, data: {confirm: t("suggest_question.confirm")},
      class: "btn btn-danger" %>
    </div>
  </div>
</div>
