<div class="container">
  <h3><%= t :admin %></h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">
      <%= t "exam.content" %></a></li>
    <li><a data-toggle="tab" href="#menu2">
      <%= t "suggest_question.title" %></a></li>
  </ul>

  <div class="tab-content mygrid-wrapper-div ">
    <div id="menu1" class="tab-pane fade in active">
      <table class="table sortable table-striped table-condensed">
        <thead>
          <tr>
            <th><%= t "exam.subject" %></th>
            <th><%= t "exam.status" %></th>
            <th><%= t "exam.duration" %></th>
            <th><%= t "exam.spent_time" %></th>
            <th><%= t "exam.score" %></th>
            <th><%= t "exam.date" %></th>
          </tr>
        </thead>
        <tbody>
          <% @exams.each do |exam| %>
            <tr>
              <td><%= link_to exam.subject.name, admin_exam_path(exam) %></td>
              <td><%= exam.status %></td>
              <td><%= Settings.duration %></td>
              <td><%= exam.spent_time %></td>
              <td><%= exam.score %></td>
              <td><%= exam.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <table class="table sortable table-striped table-condensed">
        <thead>
          <tr>
            <th><%= t "suggest_question.subject" %></th>
            <th><%= t "suggest_question.content" %></th>
            <th><%= t "suggest_question.status" %></th>
            <th><%= t "suggest_question.date" %></th>
          </tr>
        </thead>
        <tbody>
          <% @suggest_questions.each do |suggest_question| %>
            <tr>
              <td><%= suggest_question.subject.name %></td>
              <td><%= link_to truncate(suggest_question.content,
                length: Settings.length),
                admin_suggest_question_path(suggest_question) %>
              </td>
              <td><%= suggest_question.status %></td>
              <td><%= suggest_question.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-amount="30"
        data-toggle="modal" data-target="#question_popup">
        <%= t "suggest_question.submit" %>
      </button>
      <div id="question_popup" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <h4 class="modal-title"><%= t "suggest_question.submit" %></h4>
            </div>
            <div class="modal-body">
              <%= form_for @suggest_question do |f| %>
                <%= render "shared/error_messages",
                  object: @suggest_question %>

                <%= render "suggest_questions/suggest_question_fields",
                  f: f %>

                <%= f.submit t("suggest_question.submit"),
                  class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                data-dismiss="modal">
                <%= t :close %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
