<% provide :title, t("suggest_question.content") %>
<h1><%= t "suggest_question.content" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @suggest_question do |f| %>
      <%= render "shared/error_messages", object: @suggest_question %>

      <%= render "suggest_question", f: f %>

      <%= f.submit t("suggest_question.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
