<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= @exam.subject.name %>
    <%= form_for @exam do |f| %>
      <ol>
        <%= f.fields_for :choices do |builder| %>
          <%= render "choice", f: builder %>
        <% end %>
        <%= f.submit t("exam.save_button"), id: "save",
          class: "btn btn-primary" %>
        <%= f.submit t("exam.submit_button"), name: "submit",
          class: "btn btn-danger" %>
      </ol>
    <% end %>
  </div>
  <div class="col-md-4">
    <div id="remaining-times"><%= @exam.remaning_time %></div>
    <div class="countdown">
      <h1><%= t "clock.count_down" %></h1>
      <div id="clockdiv">
        <div>
          <span class="minutes"></span>
        </div>
        <div>
          <span class="seconds"></span>
        </div>
      </div>
    </div>
  </div>
</div>
